/*  styles for PDF printing
*/
body {background: none;}
ul.xT li.xT-o { list-style-image: url(images/space.gif); }
ul.xT li.xT-c { list-style-image: url(images/space.gif);}
ul.xT li.xT2-o {list-style-position: inside; list-style-image: url(images/space.gif);}
ul.xT li.xT2-c {list-style-position: inside; list-style-image: url(images/space.gif);}
ul.xT li.xT3-o {list-style-position: inside; list-style-image: url(images/space.gif);}
ul.xT li.xT3-c {list-style-position: inside; list-style-image: url(images/space.gif);}
