/* Narrative Report Theme CSS file
 the classes gno-heading, gno-index, gno-detail, anbd gno-popup defined below are applied to <body> tags of all pages thatare 
 displayed in the heading, toc, detail and popup frames respectively.
 
 all images must be loaded from the reports images folder. Any non default images must be present in the theme folder
 (and referenced in the files.txt file if GenoPro 2.5.3.6 or below) and will be automatically copied to the report's images folder by the skin.

*/

/* the line below removes frame borders if Config Param 'FrameBorders' is set to 'Auto'. This cannot be done via CSS but the text below is 
   detected in the skin and acted upon by setting border="0" frameborder="no" in the frameset tag in default.htm.

            set frameborder=No
            
*/ 
/*  This file can also contain any custom stylesheet file contents used in earlier releases of the skin
*/
/* OliveBranch by HarryCaper 2011.06.07 */
/* OliveBranch updated 2012.08.26 with calendar and title theme */

body {background: #F5F5F5 none; font-size: 0.875em;}
body.gno-heading {background-color: #DBD6C2;}
body.gno-index {margin: 0px;}
body.gno-detail {margin-left:0px; padding-left:10px;}
body.gno-popup {}
frame {border: 40px;}
img.button32,img.button24,img.control24,img.toggle24 {background:none;}

table
{
font-size: 0.75em;background-color:#F5F5F5;
}
tr td
{
background-color:#F5F5F5;
}
th
{
background-color:#EDEADF;
}

h2 { color: #694831; font-size: 1.25em; }
h3 { color: #694831; font-size: 1.125em; } 
h4 { color: #694831; font-size: 1em; }
h5 { color: #694831;}
h6 { color: #694831; display: inline; }

a:link { color: #6F772A; }
a:visited { color: #6F772A; }
a:active { color: #6F772A;  }
a:hover { color: #9DA52F; }

#menu {list-style:none;text-align:center;}
#menu li {display:inline; margin:0px; }
#menu li a {display:inline-block; height:30px; line-height:30px; padding:0px 10px; float:center; background:#6F7728; color:#DAD5C2; text-decoration:none; font-weight:normal;border-top: 3px solid #DAD5C2;border-bottom: 1px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;}
#menu li a:hover {background: #9CA731 url(images/arrow.gif) no-repeat center bottom; color:#694831;}
#menu li a:active, a:focus { outline-style: none; -moz-outline-style:none; }

.subhead {color: #694831;}
.citation {margin: 0px; padding: 0px; border:none; font-size: 0.750em; background: none;}
.citationpic {margin: 0px 0px 0px 0px; padding: 0px; border:none; font-size: 0.750em; border-color:none; background: none;}
.infoWindow {font-size: 0.750em;}
.footnote {font-size: 0.750em;font-style: normal;}
.langtoggle {font-size: 0.75em;}
.std {font-size:1em;}
.themed {background-color:#DAD5C2;color:#9CA731;}
.tiny {font-size: 2px;}

.curvycorners_box {
   background: #DAD5C2;
}

.curvyboxbackground{
	background:#F5F5F5;
	}
